<div id="init">
    <h2 style="margin-left: 42%">CHOOSE YOUR POINT</h2>
    <div class="chose-point">
        <div id="pointX" onclick="selectPoint(1)" class="point active">
            <div>X</div>
        </div>
        <div id="pointO" onclick="selectPoint(2)" class="point">
            <div>O</div>
        </div>
    </div>
    <h2 style="margin-left: 42%;margin-top: 100px ">CHOOSE YOUR TURN</h2>
    <div class="chose-point">
        <div id="firstTurn" onclick="selectTurn(1)" class="point active">
            <div>1</div>
        </div>
        <div id="secondTurn" onclick="selectTurn(2)" class="point">
            <div>2</div>
        </div>
    </div>
    <button class="start" onclick="startTheGame()">START</button>
</div>